.interior{
  width: 100px;
  height: 100px;
  border: 5px white solid;
}

.container{
  background-color: white;
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
}


.div1{
  background-color: #FF0000;
}
.div2{
  background-color: #FFA600;
}
.div3{
  background-color: #FFFF00;
}
.div4{
  position: absolute;
  top: 70px;
  left: 60px;
  background-color: #0000FF;
}
.div5{
  position: absolute;
  top: 70px;
  left: 180px;
  background-color: #F07EF0;
}

body{
  background-color: aqua;
}

/* 
#colors{
  red:FF0000
  orange: FFA600
  yellow: FFFF00
  blue: 0000FF
  magenta: F07EF0
} */