.interior {
  width: 100px;
  height: 100px;
  border: 5px white solid;
  margin-left: auto;
  margin-right: 1px;
}

.container {
  background-color: white;
  display: inline-block;
  width: 330px;
}


.div1 {
  background-color: #FF0000;

}

.div1:before {
  width: 100px;
  height: 100px;
  content: '';
  position: absolute;
  margin-left: -110px;
  background-color: #FF0000;
}

.div1:after {
  width: 100px;
  height: 100px;
  content: '';
  position: absolute;
  margin-left: -220px;
  background-color: #FF0000;
}

.div2 {
  background-color: #FFA600;
}

.div2:before {
  width: 100px;
  height: 100px;
  content: '';
  position: absolute;
  margin-left: -110px;
  background-color: #FFA600;

}

.div2:after {
  width: 100px;
  height: 100px;
  content: '';
  position: absolute;
  margin-left: -220px;
  background-color: #FFA600;

}

.div3 {
  background-color: #FFFF00;
}

.div3:before {
  margin-left: -110px;
  width: 100px;
  height: 100px;
  position: absolute;
  content: '';
  background-color: #FFFF00;
}

.div3:after {
  width: 100px;
  height: 100px;
  content: '';
  position: absolute;
  margin-left: -220px;
  background-color: #FFFF00;
}

.div4 {
  background-color: #0000FF;
}

.div4:before {
  margin-left: -110px;
  width: 100px;
  height: 100px;
  position: absolute;
  content: '';
  background-color: #0000FF;
}

.div4:after {
  width: 100px;
  height: 100px;
  content: '';
  position: absolute;
  margin-left: -220px;
  background-color: #0000FF;
}

.div5 {
  background-color: #F07EF0;
}

.div5:before {
  margin-left: -110px;
  width: 100px;
  height: 100px;
  position: absolute;
  content: '';
  background-color: #F07EF0;
}

.div5:after {
  width: 100px;
  height: 100px;
  content: '';
  position: absolute;
  margin-left: -220px;
  background-color: #F07EF0;
}


body {
  background-color: aqua;
}

/* 
#colors{
  red:FF0000
  orange: FFA600
  yellow: FFFF00
  blue: 0000FF
  magenta: F07EF0
} */