.interior{
  width: 100px;
  height: 100px;
  border: 5px white solid;
}

.container{
  background-color: white;
  display: inline-block;
  position: relative;
  /* 6 instead of 4 because div 1 is 100px plus 10px for border*/
  width:calc(50px * 6 + 10px);
  height:calc(50px * 6 + 10px);
}

.div1{
  position: absolute;
  background-color: #FF0000;
  top: 0px;
  left: 0px;
}
.div2{
  position: absolute;
  background-color: #FFA600;
  top: calc(50px * 1);
  left: calc(50px * 1);
}
.div3{
  position: absolute;
  background-color: #FFFF00;
  top: calc(50px * 2);
  left: calc(50px * 2);
}
.div4{
  position: absolute;
  background-color: #0000FF;
  top: calc(50px * 3);
  left: calc(50px * 3);
}
.div5{
  position: absolute;
  background-color: #F07EF0;
  top: calc(50px * 4);
  left: calc(50px * 4);
}

body{
  background-color: aqua;
}

/* 
#colors{
  red:FF0000
  orange: FFA600
  yellow: FFFF00
  blue: 0000FF
  magenta: F07EF0
} */