.container{
  background-color: white;
  border: 25px solid white;
  display: inline-grid;
  position: relative;
  grid-gap: 25px;
  grid-template-columns: repeat(2, 1fr);
}

.container > .interior{
  background-color: blue;
  width: 100px;
  height: 100px;
}

.div5{
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;
  background-color: red !important;
}

body{
  background-color: aqua;
}