.container{
  background-color: white;
  border: 25px solid white;
  display: inline-grid;
  position: relative;
  grid-gap: 25px;
  grid-template-columns: repeat(2, 1fr);
}

.container > .interior{
  background-color: blue;
  width: 100px;
  height: 100px;
}

.div5{
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;
  transform: rotate(45deg);
  background-color: red !important;
}

.div5:before{
  display: inline-block;
  position: absolute;
  content: '';
  width: 25px;
  height: 25px;
  background: white;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;
  border-radius: 50%;
}
/* pixels are off, but I think it's close enough :/ let me know if you want it changed to be EXACTLY the same
*/
.div5:after{
  display: inline-block;
  width: 25px;
  height: 25px;
  position: absolute;
  content: '★';
  transform: rotate(-45deg);
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;
  text-align: center;
}



body{
  background-color: aqua;
}