.interior{
  width: 100px;
  height: 100px;
  border: 5px white solid;
  overflow: hidden;
  position: relative;
}



.container{
  background-color: white;
  display: inline-block;
  position: relative;
  /* 6 instead of 4 because div 1 is 100px plus 10px for border*/
  width:calc(50px * 7);
  height:calc(50px * 5);
}

.div1{
  position: absolute;
  background-color: #FF0000;
  top: 10px;
  left: 70px;
}
.div2{
  position: absolute;
  background-color: #FFA600;
  top: 15px;
  right: 15px;
  transform: rotate(-15deg);
}
.div3{
  position: absolute;
  background-color: #FFFF00;
  top: 110px;
  left: 175px;
  transform: rotate(calc(15deg * 4));
  
}
.div4{
  position: absolute;
  background-color: #0000FF;
  top: 60px;
  left: 75px;
  transform: rotate(35deg);
  
}
.div5{
  position: absolute;
  background-color: #F07EF0;
  top: 50px;
  left: 15px;
  transform: rotate(calc(15deg * 1));
}

body{
  background-color: aqua;
}

/* 
#colors{
  red:FF0000
  orange: FFA600
  yellow: FFFF00
  blue: 0000FF
  magenta: F07EF0
} */